:root {
    --primary-bg-color: rgba(211, 242, 227, 0.893);
    --backgroud-color: rgb(38, 22, 0);
    --hover-color:rgba(164, 196, 181, 0.893);
}

/* Page back ground color  */
body { 
    background-color: var(--primary-bg-color)
} 

/* Sets original styling for a Tags  */
a {
text-decoration: none;
color: var(--primary-bg-color)

/* Set styling when hover a Tag */
}
a:hover{
text-decoration: none;
color: var(--hover-color)
} 
/* Sets styling for logout button in header */
.logout-btn {
  background-color: transparent;
  color: var(--primary-bg-color);
  border: none;
  padding: 0;
  font-size: 1.5rem;

  
}

/* Syling for header  */
header {
    display: flex;
    flex-direction: column;
    background-color: var(--backgroud-color);
    padding-bottom: 10px;
}

/* Displays li elements side by side */
li {
    font-size: 30px;
    padding-top: 10px; /* Add padding to all of the li tags */
    list-style-type: none;  /*Removes bullets  */
    padding-right: 20px;
    float: left;
    display: inline;
  
}



/* Adjust font size for logout button */
.logout-btn {
    font-size: 30px;
    color: var(--primary-bg-color);
}


/* Styling for The Tech Blog Title */
.title{
    border-style: solid;
    display: inline-block; 
    background-color: rgba(211, 242, 227, 0.893);
    border-radius: 5px;
    box-shadow: 5px 5px rgba(154, 195, 177, 0.893);
    border-color: rgba(211, 242, 227, 0.893);
    margin-left: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 250px
}

/* All Pages  */
/* Aligns each section of code to center of page */
section { 
    display: flex;
    justify-content: center; /* Horizontal center */
    flex-direction: column;     /* Vertical center */
    padding-left: 20px; 
    padding-right: 20px;
}


/* Main section of the html page 

/* Template for the content box*/
.box-template{
    border: 3px solid var(--backgroud-color);
    margin-top: 30px;
    width: 100%; 

}

/* Template for box header styling */
.header-template{
    color: var(--primary-bg-color);
    background-color: var(--backgroud-color);
    padding-left: 10px;
    min-height:40px;  /*Minimum height for boarder*/
    /* float: right; */

}

#username {
     float: right;
 /* padding-top: 10px; */
 padding: 10px 10px 0px 0px;
  font-size: 15px;
}

.align-header {
    display: inline-block;
    /* display: flex;
  align-items: center;  */
   
}


.card-content{
    color: var(--backgroud-color);
}


/* Styling for for elements */
form {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

/* styling for  */
.user-link{
    color: var(--backgroud-color)
}

/* Sets the login/signup link hover color */
.user-link:hover {
    color:rgb(38, 22, 0);
}

/* Sets the input field heights */
input {
    height: 35px;
}

/* Margin for the label in form input spacing  */
label {
    margin-bottom:5px ;
}
/* margin for both form input fields  */
#username, #password {
    margin-bottom: 15px;
}
/* Color for form submission button */
.form-btn {
    background-color: grey;
    color: var(--primary-bg-color)
}



/* Dashboard CSS styling */
.dashboard-card {
    background-color: grey; 
    width: 100%;
    /* content: ""; */
    display: table; 
    clear: both;
    padding:5px 10px 5px 10px;
    margin-top: 30px;
    border-radius: 10px;
    height: 40px;
    font-size: 25px;
}



/* Align dashboard title to the left of card  */
.dashboard-title {
    float: left;
} 
/* Align dashboard date to the right of card  */
.dashboard-date {
    float: right;
}

/* Removes resizing for textarea form */
textarea {
    resize: none;
  }


